@import "compass/css3";

$height-mask: 250px;

// To regulate alpha is recommended to use gray scale.
// Recomiendo utilizar escala de grises

$darken: 60%;

$color: rgb(255,255,255);
$color-alpha: darken( $color, $darken );

// Apply color here!
// Todo el color que quieras!
$color-base: rgb(0,0,0);

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body{
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.text{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $height-mask;
  z-index: 10;
}
svg{
  width: 100%;
  height: inherit;
  text{
    // svg center text.
    // centar text svg.
    text-anchor: middle;
  }
  #alpha{
    fill: $color-alpha;
    //animation: alpha 10s ease infinite;
  }
  #title{
    letter-spacing: -2px;
    font-size: 6em;
    font-weight: 800;
  }
  #subtitle{
    letter-spacing: 8px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
  }
  #base{
    fill: $color-base;
    // add the mask.
    // aplicar máscara.
    mask: url(#mask);
  }
}

section.intro{
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/mision.jpg') no-repeat top center;
  // background: url('/images/EP-Top-Sideview.jpg') no-repeat top center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
}
